{% extends "layout.html" %}

{% block title %}
    Privacy
{% endblock %}

{% block main %}

    <h1>Privacy policy</h1>
    <p>DG Birdie Box do not collect or store user data. Apple App Store provides some data for analytics purposes.</p>

    <div>
        <h1>Legal terms</h1>
        <p>By purchasing and / or using DG Birdie Box the user takes all responsibilities related to 
        the their use of this app. The user agrees that DG Birdie Box or its owner or any entity 
        other than the user itself cannot be held responsible in any way for any damage related 
        to the purchase and or use of the app.</p>
    </div>

{% endblock %}